<div class="container">
  <div class="details-card">
    <i class="fa-solid fa-calendar-check"></i>
    <h3>Your Booking Details</h3>
    <div class="address">
      <h5>Hotel Name:</h5>
      {{ hotel.hotelName }}
      <br />
      <h5>Address: {{ hotel.address }}</h5>
    </div>
    <hr />
    <div class="check-n">
      <h5>Check In:</h5>
      {{ search.checkIn }}
      <br />
      <h5>Check Out:</h5>
      {{ search.checkOut }}
      <br />
      <h5>Number of Adults:</h5>
      {{ search.numAdults }}
      <hr />
      <div class="price">
        <h5>Price:</h5>
        {{ hotel.price }}
        <h5>Number of Nights:</h5>
        {{ booking.numNights }}
      </div>
    </div>
    <div class="reservation">
      <h5>Name for Reservation:</h5>
      {{ user.firstName }} {{ user.lastName }}
      <br />
      <h5>Phone Number:</h5>
      {{ user.phoneNumber }}
      <br />
      <h5>Card on File:</h5>
      {{ payInfo.cardNumber }}
      <br />
      <h5>Name on Card:</h5>
      {{ payInfo.firstName }} {{ payInfo.lastName }}
    </div>

    <hr />
    <h5>Total Cost:</h5>
    <span class="total">{{ totalCost }}</span>
    <input
      class="button-primary submit"
      type="submit"
      (click)="onSubmit()"
      value="Confirm Booking"
    />
  </div>
</div>
