<h1>Hotel Name: {{hotel.hotelName}}</h1>
<h1>Address: {{hotel.address}}</h1>
<h1>Check In:{{search.checkIn}}</h1>
<h1>Check Out:{{search.checkOut}}</h1>
<h1>Number of Adults:{{search.numAdults}}</h1>
<h1>Price:{{hotel.price}}</h1>
<h1>Number of Nights: {{booking.numNights}}</h1>
<h1>Total Cost: {{totalCost}}</h1>
<h1>Name for Reservation: {{user.firstName}} {{user.lastName}}</h1>
<h1>Phone Number: {{user.phoneNumber}} </h1>
<h1>Card on File: {{payInfo.cardNumber}}</h1>
<h1>Name on Card: {{payInfo.firstName}} {{payInfo.lastName}}</h1>
<input class="button-primary" type="submit" value="Confirm Booking" />