<section>
  <div class="hero-image-section">
    <section class="title-section">
      <div class="row">
        <div class="main-title-div">
          <h3>Search For Hotels</h3>
        </div>
      </div>
    </section>
  </div>
</section>
<div class="container">
  <!-- hotel search section -->
  <app-search (notify)="onNotifyClicked($event)"></app-search>
  <!-- flight results section -->
  <app-search-filter (filter)="onFilterClicked($event)"></app-search-filter>
  <app-results *ngFor="let hotel of hotels" [result]="hotel"></app-results>
  <app-page-number (changePage)="onPageChange($event)"></app-page-number>
</div>
