<div class="container">
    <div class="row register-card-user">
        <div class="six columns img-container"></div>
        <div class="six columns">
                <div class="main-title-div">
                <br>
                <h4>Account Details</h4>
   
            <form id="updateInfo" >

            <div class="row">
                <div class="six columns">
            <label for="first">First Name: {{user.firstName}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="firstname" placeholder= {{user.firstName}} [hidden]="!hideform" [(ngModel)] = "updateFirstName">
                </div>
            </div>

            <div class="row">
                <div class="u-full-width">
            <label for="last">Last Name: {{user.lastName}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="lastname" placeholder= {{user.lastName}} [hidden]="!hideform" [(ngModel)] = "updateLastName">
                </div>
            </div>

            <div class="row">
                <div class="u-full-width">
            <label for="email">Email: {{user.email}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="email" placeholder= {{user.email}} [hidden]="!hideform" [(ngModel)] = "updateEmail">
                </div>
            </div>

            <div class="row">
                <div class="u-full-width">
            <label for="username">Username: {{user.username}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="username" placeholder= {{user.username}} [hidden]="!hideform" [(ngModel)] = "updateUsername">
                </div>
            </div>

            <div class="row">
                <div class="u-full-width">
            <label for="password">Password: {{user.password}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="password" placeholder= {{user.password}} [hidden]="!hideform" [(ngModel)] = "updatePassword">
                </div>
            </div>

            <div class="row">
                <div class="u-full-width">
            <label for="phonenumber">Phone Number: {{user.phoneNumber}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="phonenumber" placeholder= {{user.phoneNumber}} [hidden]="!hideform" [(ngModel)] = "updatePhoneNumber">
                </div>
            </div>


            <button class="button" id="update" (click) = "show()">Update</button> &ensp;  <button class="button" type = "submit" id = "save" (click) = "updateUser()">Save Changes</button>
        </form>

        
    <hr/>
    <div class="row"  >
        <h5 class="h6-payment-info">
        <i class="fa-solid fa-credit-card"></i> Payment Details
        </h5>
    </div>
       
                
        <button type="button" (click)="showCardDetailsForm()" >Show card details</button>

        <form [hidden]="!hideCardForm" >

            <div class="row">
                <div class="u-full-width">
            <label for="first">Card Number: {{payInfo.cardNumber}}</label><br>
            <input class ="u-full-width" type="number" id="accinfo" name="cardnum" placeholder= "" [hidden]="!hide" [(ngModel)] = "updateCardNumber">
                </div>
            </div>

            <div class="row">
                <div class="u-full-width">
            <label for="first">Card First Name: {{payInfo.firstName}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="cardfirstname" placeholder= "" [hidden]="!hide" [(ngModel)] = "updateCardFirstName">
                </div>
            </div>

            <div class="row">
                <div class="u-full-width">
            <label for="last">Card Last Name: {{payInfo.lastName}}</label><br>
            <input class ="u-full-width" type="text" id="accinfo" name="cardlastname" placeholder= "" [hidden]="!hide" [(ngModel)] = "updateCardLastName">
                </div>
            </div>

            <button class="button" id="update" (click) = "showHidePaycardForm()">Update</button> &ensp; <button class="button" type = "submit" id = "save" (click) = "updateCard()">Save Card</button>
        </form><br>
                </div>
        </div>
    </div>

    </div>
