.register-card-user{
    display: flex;
    display:-ms-flex;
    display:-webkit-flex;
    width: 100%;
    color: rgb(107, 104, 104);
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.1)
    );
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 2;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }

  .register-card-user .columns{
    flex: 1;
  }
  
  .img-container {
    background-image: url("../images/userpage.jpg");
    border-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    background-position: -220px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-top: 0;  
    justify-content: center;
    align-items: center;
    
  }
  
  .main-title-div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px 20px 10px;
    margin: 0;
  }
  
  #firstnameInput:focus,
  #lastnameInput:focus,
  #exampleEmailInput:focus,
  #phoneNumber:focus,
  #usernameInput:focus,
  #password:focus,
  #exampleCardNumInput:focus,
  #exampleCardFirstInput:focus,
  #exampleCardLastInput:focus {
    border: 1.5px #1eaedb solid;
  }
  
  .account-submit {
    position: absolute;
    left: 25px;
    bottom: -15px;
  }
  .forgotPass {
    font-size: 13px;
    position: absolute;
    right: 62px;
    bottom: 10px;
  }
  
  hr {
    padding: 0;
    margin: 20px;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
