
    <section class="flight-results-section">
        <div class="search-results-wrapper" id="search-reulsts-wrapper">
          <!-- search results will dynamically be inserted here -->
          <div class="return-result-div">
            <div class="booking-id">
              <h5>Id: {{ pastBooking.bookingId }}</h5>
            </div>
            <div class="check-in">
              <h5>Check In: {{ pastBooking.checkInDate }}/10</h5>
            </div>
            <div class="check-out">
              <h5>Check Out: {{ pastBooking.checkOutDate }}</h5>
            </div>
            <div class="booking-date">
                <h5>Date Book: {{ pastBooking.bookingDate }}</h5>
              </div>
              <div class="number-nights">
                <h5> Number of Nights:{{ pastBooking.numNights }}</h5>
              </div>
              <div class="hotel">
                <h5>Hotel ID:{{ pastBooking.hotel }}</h5>
              </div>
              <div class="user">
                <h5>User ID:{{ pastBooking.user.id }}</h5>
              </div>
          </div>
        </div>
      </section>

