.hotel-results-section {
  /* border-bottom: gray 1px solid; */
  color: rgb(107, 104, 104);
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  padding: 0px;
  position: relative;
  height: 250px;
  transition-duration: 0.5s;
}

.hotel-results-section:hover {
  color: whitesmoke;
  background-color: rgb(150, 150, 150);
  /* background-color: rgb(160, 198, 211); */
}

/* top */
/* .top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
} */
.img-thumbnail img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}
.return-result-name {
  /* display: flex;
  /* border-bottom: 2px #1eaedb solid; */
  /* justify-content: start;
  align-items: center; */
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 450px;
  top: 20px;
  /* right: 50px; */
  left: 380px;
}

.return-result-price {
  padding-bottom: 5px;
  font-size: 45px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
}
/* .return-result-price h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
} */

/* .room-details-table {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 50px;
} */
.fa-star {
  color: rgb(255, 208, 0);
}
.price-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  top: 50px;
  right: 23px;
}
.return-result-rating {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: 20px;
}
.book-btn-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
}

.description-a {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  bottom: 0px;
  left: 380px;
  padding-top: 20px;
  margin-top: 20px;
}

.description-b {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  bottom: 0px;
  left: 580px;
  padding-top: 20px;
}

.description-a ul,
.description-b ul {
  list-style: none;
}
