.return-result-div {
  border-bottom: gray 1px solid;

  padding: 10px;
  position: relative;
  height: 300px;
  transition-duration: 1.2s;
}

.return-result-div:hover {
  color: whitesmoke;
  background-color: rgb(118, 124, 126);
}

/* top */
/* .top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
} */
.img-thumbnail {
  border: lightgray 1px solid;
  border-radius: 50px;
  height: 250px;
  width: 300px;
  background-color: rgb(162, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}
.return-result-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 400px;
}
.return-result-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 230px;
}

.return-result-price h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 50px;
}

.room-details-table {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 50px;
}

.book-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 50px;
}
