<section class="search-section">
  <div class="form-wrapper">
    <!-- location input section -->
    <form class="hotel-search-form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="four columns">
          <label for="search-city-input"> Where to?</label>
          <input
            
            type="text"
            placeholder="e.g. North Korea"
            id="search-city-input"
            class="u-full-width search-city-input"
            name = "location"
            required [(ngModel)] = "location"
          />
        </div>

        <!-- departing/arrival date calendar input section-->
        <div class="five columns">
          <div class="six columns">
            <label for="check-in date">check-in</label>
            <input
              type="date"
              id="check-in-date"
              class="u-full-width check-in-date"
              name = "checkIn"
              required [(ngModel)] = "checkInDate"
            />
          </div>
          <div class="six columns">
            <label for="num-passengers">check-out</label>
            <input
              type="date"
              id="check-out-date"
              class="u-full-width check-out-date"
              name = "checkOut"
              required [(ngModel)] = "checkOutDate"
            />
          </div>
        </div>
        <!--  -->
        <!-- number of guests input section -->
        <div class="three columns u-full-width guest-qty-input">
          <div class="one column left-button">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="three columns">
            <label for="num-guests">
              <i class="fa-solid fa-user-group"></i>
              <input type="number" id="num-guests" class="num-guests" name = "numAdults" required [(ngModel)] = "numAdults"/>
            </label>
          </div>
          <div class="one column right-button">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    
    <div class="search-btn-div">
      <button
        
        class="button-primary search-btn"
        id="seatch-btn"
        type="submit"
      >
        search
      </button>
    </div>
  </form>
  </div>
</section>