.search-section {
  border-bottom: gray solid 1px;
  padding: 20px;
  position: relative;
  height: 200px;
}

.check-in-date,
.check-out-date {
  padding: 8px 10px;
  border: 1px lightgray solid;
  border-radius: 5px;
}
.num-guests {
  width: 30px;
}

.guest-qty-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest-qty-input input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin-top: 5px;
  height: 40px;
}
.left-button,
.right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.fa-user-group {
  margin-bottom: 0;
}
.fa-angle-left,
.fa-angle-right {
  font-size: 25px;
  padding: 5px 10px;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  color: white;
  border-radius: 50px;
  background-color: black;
  opacity: 0.5;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 120px;
}

.num-guests {
  background-color: rgb(255, 255, 255);
  border: 1px lightgray solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px light gray solid;

  height: 40px;
  width: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
