.search-section {
  border-bottom: gray solid 1px;
  padding: 20px;
  position: relative;
  height: 200px;
}

.search-city-input:focus,
.check-in-date:focus,
.check-out-date:focus,
.num-guests:focus {
  border: 1.5px #1eaedb solid;
}

.check-in-date,
.check-out-date {
  padding: 8px 10px;
  border: 1px lightgray solid;
  border-radius: 5px;
}

.guest-qty-input {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 5px;
}

.left-button,
.right-button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-top: 20px; */
}

.fa-angle-left,
.fa-angle-right {
  font-size: 25px;
  padding: 5px 10px;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  color: white;
  border-radius: 50px;
  background-color: black;

  opacity: 0.5;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 120px;
}

.num-guests {
  display: flex;
  height: 40px;
  width: 35px;
  margin: 5px 20px 10px 20px;
  /* margin-top: 5px;
  margin-bottom: 10px; */
}

/* .guest-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
