<div class="img"></div>
<div class="container">
    <h3 class>About Us</h3>
    <!-- <div class="row register-card-about">
        <div class="six columns img-container"></div> -->
    <!-- <h5>We Are Schmotels</h5> -->
    
    <div class="abouts">
        <h5>
            Here at <b><i>Schmotels</i></b> we are dedicated to travel. <br>
            We firmly believe that it's not about the journey, it's about the destination. <br>
            We are passionate about helping every type of traveler that's why - <br>
            We don't care who you are (who you are) <br>
            Where you're from (where you're from) <br>
            What you did <br>
            <b><i>As long as you pay us...</i></b>
        </h5>

    </div>

</div>
