<head>
    <title>About Us</title>
</head>
    <h3>About Our Company</h3>
    <h5>We Are Schmotels</h5>
    <img src = "aboutus.jpg">
    <div class = "container">
        <h6>
            Here at Schmotels, we are dedicated to travel. <br>
            We firmly believe that it's not about the journey, it's about the destination. <br>
            We are passionate about helping every type of traveler that's why - <br>
            We don't care who you are (who you are) <br>
            Where you're from (where you're from) <br>
            What you did <br>
            As long as you pay us...
        </h6>

    </div>


