<div class="container">
  <!-----nameofwebsiteandlogoimage----->
  <!-- <section>
        <div class="logo">
            <img src="images/logo.jpg">
        </div>
        <hr>
    </section> -->
  <!-------------SignInform-------------->
  <section>
    <div class="row">
      <h1 *ngIf="error">Username or password was incorrect</h1>
      <div class="login-image six columns">
        <div class="img"></div>
      </div>
      <div class="six columns">
        <div class="main-title-div">
          <form id="login" (ngsubmit)="onSubmit()">
            <div class="row">
              <div class="u-full-width">
                <label for="exampleEmailInput">Your email</label>
                <input  class="u-full-width"  type="email"  placeholder="Email Address" id="email"  required [(ngModel)]="email" >
              </div>
            </div>

            <div class="row">
              <div class="u-full-width">
                <label for="exampleRecipientInput">Password</label>
                <input class="u-full-width"   type="password" placeholder="password"   id="password"  required [(ngModel)]="password" >
              </div>
            </div>
            <div class="sign-in">
              <input class="button-primary" type="submit" value="submit" />
            </div>
          </form>
          <!--------------------ForgotPassword---------------------->

          <div class="forgotPass">
            <a href="updateInfo.html">Forgot password</a
            ><!---href to updateinfo--><br />
            Don't have an account?
            <a routerLink="register" (click)="navigateRegister()">Create One</a>
          </div>

          <!-------------------------------------------------------------------------------------------------------------------------->
        </div>
      </div>
    </div>
  </section>
</div>
