<div class="container">

  <section>
    <div class="row">
      <div class="login-image six columns">
        <div class="img"></div>
      </div>
      <div class="six columns">
        <div class="main-title-div">
          <form id="login" (ngSubmit)="onSubmit()">
            <div class="row">
              <h3>Login</h3>

              <input
                type="text"
                placeholder="Username"
                id="username"
                name="username"
                required
                [(ngModel)]="username"
              />
            </div>

            <div class="row">
              <input
                type="password"
                placeholder="Password"
                id="password"
                name="password"
                required
                [(ngModel)]="password"
              />
            </div>
            <input
              class="button-primary login-submit u-full-width"
              type="submit"
              value="submit"
            />
          </form>
          <!--------------------ForgotPassword---------------------->

          <div class="forgotPass">
            Don't have an account?
            <a routerLink="register" (click)="navigateRegister()">Create One</a>
          </div>

          <!-------------------------------------------------------------------------------------------------------------------------->
        </div>
      </div>
    </section>
  </div>
</div>
