.login-card {
  color: rgb(107, 104, 104);
  background: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.img-container {
  background-image: url("../images/suitcase.jpg");
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-div {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 100px;
  margin: 0;
}

.login-submit {
  margin-top: 30px;
}
