* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 235, 231);
}

.hide {
  display: none;
}

.logo {
  width: auto;
  height: auto;
  margin-top: -20px;
}

.forgotPass {
  font-size: 0.8em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
