<div class="container">
  <div class="row">
    <section class="nav-section">
      <div class="u-pull-left"><a class="logo" href="#">SCHMOTELS.COM</a></div>
      <ul class="navbar u-pull-right">
        <li class="item"><a class="about" routerLink="home">about</a></li>
        <li class="item"><a class="my-account" routerLink="home">my account</a></li>
        <li class="item"><a class="booking-history" routerLink="booking-history">test booking history</a></li>
        <li class="item">
          <button
            class="button-primary"
            id="login-button"
            (click)="navigateLogin()"
          >
            Login
          </button>
        </li>
      </ul>
    </section>
  </div>
</div>
