.nav-div {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: rgb(129, 190, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  height: 50px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2px 5px 10px 5px;
  margin: 0;
  top: 20px;
  right: 100px;
  list-style: none;

  height: 25px;
}
.navbar li {
  padding: 10px;
}
