.nav-section {
  height: 10vh;
  border: 1px black solid;
  padding: 5px;
  margin: 0;
  font-size: 16px;
}
.nav-section a {
  text-decoration: none;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}
