<!-- <div class="container">
  <div class="row"> -->
<div class="nav-section">
  <div class="u-pull-left">
    <img
      (click)="navigateHome()"
      class="img-logo"
      src="assets/SCHMOTELS.png"
      alt="logo"
    />
  </div>
  <ul class="navbar u-pull-right">
    <li class="item"><a class="about" routerLink="about">about</a></li>
    <li class="item">
      <a class="booking-history" routerLink="booking-history" *ngIf="signedIn"
        >booking history</a
      >
    </li>
    <!-- if user is signed-in, display my account link -->
    <li *ngIf="!signedIn" class="item hide">
      <a class="my-account" routerLink="user">my account</a>
    </li>
    <li *ngIf="signedIn" class="item">
      <a class="my-account" routerLink="user">my account</a>
    </li>
    <!--  -->
    <li class="item">
      <button
        *ngIf="!signedIn"
        class="button-primary login-btn"
        id="login-button"
        (click)="navigateLogin()"
      >
        Login
      </button>
      <button
        *ngIf="signedIn"
        class="button-primary login-btn"
        id="login-button"
        (click)="navigateLogin()"
      >
        Logout
      </button>
    </li>
  </ul>
</div>
<!-- </div>
</div> -->
