<div class="container">
  <div class="booking-info">
    <h1>Name: {{ hotel.hotelName }}</h1>
    >
    <h1>Rating: {{ hotel.rating }}</h1>
    >
    <h1>Price: {{ hotel.price }}</h1>
    >
    <img src="{{ hotel.thumbnailUrl }}" />
    <h1>Check In: {{ bookingInfo.checkIn }}</h1>
    <h1>Check Out: {{ bookingInfo.checkOut }}</h1>
    <h1>Number of Adults: {{ bookingInfo.numAdults }}</h1>
    <h1>Address : {{ hotel.address }}</h1>
    <div class="description-container">
      <p style="white-space: pre-wrap">Description : {{ hotel.description }}</p>
    </div>

    <input
      class="button-primary"
      type="submit"
      value="Complete my Booking Now!"
    />
  </div>
</div>
