<div class="container">
  <div class="row booking-info">
    <div class="img-container">
      <img src="{{ hotel.thumbnailUrl }}" />
    </div>
    <div class="name-container">
      <h6>Hotel Name:</h6>
      {{ hotel.hotelName }}
      <br />
      <h6>Rating:</h6>
      {{ hotel.rating }}
      <br />
      <h6>Price:</h6>
      {{ hotel.price }}
      <br />
      <h6>Check In:</h6>
      {{ searchInfo.checkIn }}
      <br />
      <h6>Check Out:</h6>
      {{ searchInfo.checkOut }}
      <br />
      <h6>Number of Adults:</h6>
      {{ searchInfo.numAdults }}
      <br />
      <h6>Address:</h6>
      <br />
      {{ hotel.address }}
    </div>

    <div class="description-container">
      <h6>Description:</h6>
      <p style="white-space: pre-wrap">
        {{ hotel.description }}
      </p>
    </div>
    <div class="button-container">
      <input
        class="button-primary booking-btn"
        type="submit"
        value="Complete my Booking Now!"
        (click)="navigateConfirm()"
      />
    </div>
  </div>
</div>
