<div class="filter-div">
  <div class="row">
    <i class="fa-solid fa-filter-list"></i>
    <i class="fa-solid fa-star"></i>
    <button>3 stars +</button>
    <button>under $150</button>
    <select>
      <option value="">option 1</option>
      <option value="">option 2</option>
      <option value="">option 3</option>
      <option value="">option 4</option>
    </select>
    <select>
      <option value="">option 1</option>
      <option value="">option 2</option>
      <option value="">option 3</option>
      <option value="">option 4</option>
    </select>
    <select>
      <option value="">option 1</option>
      <option value="">option 2</option>
      <option value="">option 3</option>
      <option value="">option 4</option>
    </select>
  </div>
</div>
